* {
  padding: 0px;
  margin: 0px;
}

/* -----Header--- */
/* Este no es el header del Index.html , ya que ese tiene un header con boostrap.
Pd: Se unificaran los Header pronto.
*/
.header__contenedorLogo__titulo {
  color: crimson;
  text-transform: uppercase;
  font-size: 0rem;
  margin-left: 5px;
  font-family: "Bebas Neue";
  padding: 0px;
  text-decoration: none;
}

.header__contenedorLogo__subtitulo {
  color: blanchedalmond;
  text-transform: capitalize;
  font-size: 2rem;
  margin-left: 1rem;
  font-family: "Teko";
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 1rem;
}

.header__nav__ul__li__link {
  color: blanchedalmond;
  text-decoration: none;
}

.header__nav__ul__li {
  color: blanchedalmond;
  list-style: none;
  display: inline-block;
  padding: 0.3rem;
  margin-right: 2rem;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
}

.header__nav__ul {
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 1rem;
}

.header__nav__ul__li:hover {
  background-color: gray;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav__buscador {
  margin-right: 2rem;
}

/*--------main----------*/
body {
  background-image: url(../img/bg-2.jpg);
  background-attachment: scroll;
  background-repeat: space repeat;
}

.main {
  padding-padding-left: 5rem;
  padding-padding-right: 5rem;
  padding-padding-top: 1rem;
  padding-padding-bottom: 2rem;
}

.main__tituloPrincipal {
  font-size: 6rem;
  color: crimson;
  font-family: 'Teko', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.main__contenedor, .main__contenedor2 {
  font-family: 'Inter', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__contenedor--quienesSomos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
  margin: 5rem;
  border: 1rem solid black;
}

.main--quienesSomos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__contenedor--locales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main__contenedor__tarjeta {
  background-color: rgba(255, 255, 255, 0.377);
  padding: 2rem;
  border: 1px solid #000;
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1rem;
}

.main__contenedor__tarjeta__tituloTarjeta {
  text-transform: uppercase;
  text-align: center;
}

.main__contenedor__tarjeta__article {
  text-align: justify;
  margin-top: 1rem;
}

.main__contenedor2 {
  background-color: rgba(255, 255, 255, 0.493);
  border: 3px solid #000;
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-bottom: 2rem;
  width: 60%;
  margin-left: 20%;
}

.main__contenedor2__img {
  margin: 3rem;
}

.main__contenedor2__aside {
  margin: 5rem;
  font-style: italic;
  font-weight: 600;
}

.main__contenedor3__boton {
  background-color: brown;
  border-color: black;
}

.main__contenedor3__boton:hover {
  background-color: burlywood;
  color: black;
}

.main__contenedor__tarjeta2:hover {
  background-color: rgba(231, 72, 23, 0.274);
}

/*--Variables--*/
/* ----------footer----------- */
.footer {
  background-color: black;
  font-family: 'Inter', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer__contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer__contenedor .footer__contenedor__ul {
  color: blanchedalmond;
  margin: 1rem;
  margin-left: 3rem;
  margin-top: 1rem;
}

.footer .footer__contenedor .footer__contenedor__logo {
  color: blanchedalmond;
  margin-top: 1rem;
}

.footer .footer__contenedor2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footer__contenedor2 .footer__contenedor2__redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer .footer__contenedor2 .footer__contenedor2__redes .footer__contenedor2__redes__span .footer__contenedor2__redes__span__link {
  color: blanchedalmond;
  margin-right: 1rem;
}

.footer .footer__contenedor2 .footer__contenedor2__span {
  color: blanchedalmond;
}

#lupaa {
  color: blanchedalmond;
}

#logo {
  text-decoration: none;
  color: crimson;
}
/*# sourceMappingURL=styleSCSS.css.map */