@import "./scss/reset";
@import "./scss/avariables2";
@import "./scss/aheader";
@import "./scss/abody";
@import "./scss/afooter";


#logo {
    text: {
        decoration: none;
        }
    color: $red;
}




